{
  "Actions": [
    {
      "Name": "Cross",
      "GroupName": "DualShock",
      "Title": "Cross (X)",
      "KeyboardCode": "SPACE",
      "GamepadCode": "A"
    },
    {
      "Name": "Circle",
      "GroupName": "DualShock",
      "Title": "Circle",
      "KeyboardCode": "CTRL",
      "GamepadCode": "B"
    },
    {
      "Name": "Square",
      "GroupName": "DualShock",
      "Title": "Square",
      "KeyboardCode": "SHIFT",
      "GamepadCode": "X"
    },
    {
      "Name": "Triangle",
      "GroupName": "DualShock",
      "Title": "Triangle",
      "KeyboardCode": "E",
      "GamepadCode": "Y"
    },
    {
      "Name": "L1",
      "GroupName": "DualShock",
      "Title": "L1",
      "KeyboardCode": "Q",
      "GamepadCode": "SwitchLeftBumper"
    },
    {
      "Name": "R1",
      "GroupName": "DualShock",
      "Title": "R1",
      "KeyboardCode": "F",
      "GamepadCode": "SwitchRightBumper"
    },
    {
      "Name": "L2",
      "GroupName": "DualShock",
      "Title": "L2",
      "KeyboardCode": "1",
      "GamepadCode": "LeftTrigger"
    },
    {
      "Name": "R2",
      "GroupName": "DualShock",
      "Title": "R2",
      "KeyboardCode": "3",
      "GamepadCode": "RightTrigger"
    },
    {
      "Name": "Start",
      "GroupName": "DualShock",
      "Title": "Start",
      "KeyboardCode": "",
      "GamepadCode": "SwitchRightMenu"
    },
    {
      "Name": "Select",
      "GroupName": "DualShock",
      "Title": "Select",
      "KeyboardCode": "BACKSPACE",
      "GamepadCode": "SwitchLeftMenu"
    },
    {
      "Name": "Up",
      "GroupName": "DualShock",
      "Title": "D-Pad Up",
      "KeyboardCode": "W",
      "GamepadCode": "DpadNorth"
    },
    {
      "Name": "Down",
      "GroupName": "DualShock",
      "Title": "D-Pad Down",
      "KeyboardCode": "S",
      "GamepadCode": "DpadSouth"
    },
    {
      "Name": "Left",
      "GroupName": "DualShock",
      "Title": "D-Pad Left",
      "KeyboardCode": "A",
      "GamepadCode": "DpadWest"
    },
    {
      "Name": "Right",
      "GroupName": "DualShock",
      "Title": "D-Pad Right",
      "KeyboardCode": "D",
      "GamepadCode": "DpadEast"
    },
    {
      "Name": "Pause",
      "GroupName": "Emulator",
      "Title": "Pause Menu",
      "KeyboardCode": "TAB",
      "GamepadCode": "Guide"
    },
    {
      "Name": "Back",
      "GroupName": "UI",
      "Title": "Back",
      "KeyboardCode": "BACKSPACE",
      "GamepadCode": "B"
    },
    {
      "Name": "Accept",
      "GroupName": "UI",
      "Title": "Accept",
      "KeyboardCode": "ENTER",
      "GamepadCode": "A"
    },
    {
      "Name": "Bios",
      "GroupName": "UI",
      "Title": "Launch BIOS",
      "KeyboardCode": "SHIFT",
      "GamepadCode": "Y"
    },
    {
      "Name": "Settings",
      "GroupName": "UI",
      "Title": "Settings",
      "KeyboardCode": "TAB",
      "GamepadCode": "X"
    },
    {
      "Name": "NavLeft",
      "GroupName": "UI",
      "Title": "Left",
      "KeyboardCode": "A",
      "GamepadCode": "DpadWest"
    },
    {
      "Name": "NavRight",
      "GroupName": "UI",
      "Title": "Right",
      "KeyboardCode": "D",
      "GamepadCode": "DpadEast"
    },
    {
      "Name": "NavUp",
      "GroupName": "UI",
      "Title": "Up",
      "KeyboardCode": "W",
      "GamepadCode": "DpadNorth"
    },
    {
      "Name": "NavDown",
      "GroupName": "UI",
      "Title": "Down",
      "KeyboardCode": "S",
      "GamepadCode": "DpadSouth"
    },
    {
      "Name": "PrevCat",
      "GroupName": "UI",
      "Title": "Previous Category",
      "KeyboardCode": "Q",
      "GamepadCode": "SwitchLeftBumper"
    },
    {
      "Name": "NextCat",
      "GroupName": "UI",
      "Title": "Next Category",
      "KeyboardCode": "E",
      "GamepadCode": "SwitchRightBumper"
    },
    {
      "Name": "Refresh",
      "GroupName": "UI",
      "Title": "Refresh List",
      "KeyboardCode": "R",
      "GamepadCode": "LeftJoystickButton"
    },
    {
      "Name": "Infos",
      "GroupName": "UI",
      "Title": "Show Infos",
      "KeyboardCode": "I",
      "GamepadCode": "RightJoystickButton"
    }
  ],
  "__guid": "c7e92f3a-1b84-4d56-9e0f-3a78b2f91c04",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}