{
  "DestroyLobbyWhenHostLeaves": false,
  "AutoSwitchToBestHost": false,
  "ClientsCanSpawnObjects": true,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": true,
  "UpdateRate": 30,
  "__guid": "457145fc-dc0d-49ae-ab5d-af8ff31afa7a",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}